<div class="chats-container">
    <div class="chat-list">
        <div class="chat-list-head">
            {{{toProfile}}}
            {{{chatListSearch}}}
        </div>
        <div class="chat-list-body">
        </div>
    </div>
    <div class="chat-window">
        {{#unless activeChat}}
            <div class="empty-chat-window">
                Выберите чат, чтобы отправить сообщение
            </div>
        {{/unless}}
        {{#if activeChat}}
            <div class="chat-window-head">
                <div class="pen-friend-container">
                    {{{avatar}}}
                    <div class="pen-friend-name">
                        {{activeChat.correspondent.name}}
                    </div>
                </div>
                {{{moreButton}}}
            </div>
            <div class="chat-window-body">
                <div class="message-list">
                    <div class="messages-date">
                        {{activeChat.messages.[0].data.date}}
                    </div>
                    <div class="messages-container">
                        {{#each messages}}
                        {{/each}}
                    </div>
                </div>
                <div class="input-container">
                    {{{attachmentsButton}}}
                    {{{form}}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
