<div class="chats-container">
    {{{addChatModal}}}
    {{{addUserModal}}}
    {{{deleteUserModal}}}
    <div class="chat-list">
        <div class="chat-list-head">
            <div class="chat-list-head-buttons">
                {{{addChatButton}}}
                {{{toProfile}}}
            </div>
            {{{chatListSearch}}}
        </div>
        <div class="chat-list-body">
        </div>
    </div>
    <div class="chat-window">
        {{#unless activeChat}}
            <div class="empty-chat-window">
                Выберите чат, чтобы отправить сообщение
            </div>
        {{/unless}}
        {{#if activeChat}}
            <div class="chat-window-head">
                <div class="chat-info-container">
                    {{{avatar}}}
                    <div class="chat-info-title">
                        {{activeChat.title}}
                    </div>
                </div>
                <div class="chat-participants">
                    {{activeChat.participants}}
                </div>
                <div>
                    {{{moreButton}}}
                    {{{chatOptions}}}
                </div>
            </div>
            <div class="chat-window-body">
                <div class="message-list">
                    <div class="messages-date">
                        {{messages.[0].date}}
                    </div>
                    <div class="messages-container">
                        {{#each messages}}
                        {{/each}}
                    </div>
                </div>
                <div class="input-container">
                    {{{attachmentsButton}}}
                    {{{form}}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
