<div class="window">
    <div class="form-container">
        <div class="form-title">
            {{formTitle}}
        </div>
        <form action="" method="get">
            <div class="form-field-container">
                {{#each fields}}
                    <label for='{{this.name}}'>
                        {{this.label}}
                    </label>
                    <input
                            type='{{this.type}}'
                            name='{{this.name}}'
                            id='{{this.name}}'
                            {{#if this.required}}required{{/if}}
                    >
                {{/each}}
            </div>
            <div class="form-buttons-container">
                <button type="submit">
                    {{buttonLabel}}
                </button>
                <a href='{{altUrl}}'>
                    {{altUrlLabel}}
                </a>
            </div>
        </form>
    </div>
</div>
