<label for="{{name}}" class="{{classNameLabel}}">
    {{label}}
</label>
<input
    class="{{classNameInput}}"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    {{#if required}}required{{/if}}
>
