<div class="chat-list-item {{#if selected}}selected-chat{{/if}}">
    <div class="chat-content">
        {{{avatar}}}
        <div class="chat-content-body">
            <div class="text-content">
                <div class="name">
                    {{title}}
                </div>
                <div class="last-message">
                    {{last_message.content}}
                </div>
            </div>
            <div class="time-content">
                <div class="last-message-time">
                    {{last_message.time}}
                </div>
                {{#if unread_count}}
                    <div class="unread-messages">
                        {{unread_count}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
