<div class="chat-content">
    {{{avatar}}}
    <div class="chat-content-body">
        <div class="text-content">
            <div class="name">
                {{name}}
            </div>
            <div class="last-message">
                {{lastMessage}}
            </div>
        </div>
        <div class="time-content">
            <div class="last-message-time">
                {{lastMessageTime}}
            </div>
            <div class="unread-messages">
                {{unreadMessages}}
            </div>
        </div>
    </div>
</div>
