<div class="window">
    <div class="error-container">
        <h1>
            {{status}}
        </h1>
        <h2>
            {{description}}
        </h2>
        {{{altUrl}}}
        <a href="{{altUrl}}" class="alt-url">
            {{altUrlLabel}}
        </a>
    </div>
</div>
