<ul class="list">
	{{#unless editMode}}
		{{#each rows}}
			<li class="list-item">
				<div class="field-container">
					<span>
						{{this.label}}
					</span>
					<span>
						{{this.value}}
					</span>
				</div>
			</li>
		{{/each}}
	{{/unless}}
	{{#if editMode}}
		{{#each rows}}
			<li class="list-item">
				<div class="field-container">
					<label for="{{this.name}}">
						{{this.label}}
					</label>
					<input
							type="{{this.type}}"
							name="{{this.name}}"
							id="{{this.name}}"
						{{#if this.firstChild}}
							autofocus
						{{/if}}
					>
				</div>
			</li>
		{{/each}}
	{{/if}}
</ul>
